.bcg {
    background-color: #343A40;
    color: white;
}
.border {
    border-color: #F47D06;
}
.messages {
    height: 72vh;
    overflow: hidden visible;
}
.hr {
    background-color: white;
}
.avatar {
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.contact {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    margin-left: 5px;
}
.text {
    margin-left: 12px;
    margin-top: 6px;
    width: 70%;
}
.card-text img {
    height: 150px;
}
::-webkit-scrollbar{
    overflow: hidden;
}
.messages-received .card-header{
    background-color: #7BD7FB;
}