@charset "utf-8";

.bcg {
  background-color: #343A40;
  color: white;
}
.border {
  border-color: #F47D06;
}
.messages {
  height: 72vh;
  overflow: hidden visible;
}
.hr {
  background-color: white;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 30px;
}
.contact {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  margin-left: 5px;
}
.text {
  margin-left: 12px;
  margin-top: 6px;
  width: 70%;
}
.card-text img {
  height: 150px;
}
::-webkit-scrollbar{
  overflow: hidden;
}
.messages-received .card-header{
  background-color: #7BD7FB;
}
.form {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5px;
  background-color: #7BD7FB;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  #container {
    align-items: flex-start;
  }
  #submit {
    width: 100%;
  }
  h2 {
    margin-bottom: 25px;
  }
}
#connexion {
  margin-top: 15%;
}